In [1]:
import pandas as pd
df = pd.read_csv('demo.csv')
df

  name   type
0    A  x,y,z
1    B      x
2    C      z
3    D    x,z
4    E    y,z

In [2]:
data = {'name': [], 'type': []}
df_new = pd.DataFrame(data, columns=['name', 'type'])
df_new

Empty DataFrame
Columns: [name, type]
Index: []

In [3]:
length = len(df.type)
for ind in range(length):
    print(ind)
    if ',' in str(df['type'][ind]):
        txt = df['type'][ind].split(',')
        for j in range(len(txt)):
            df2 = pd.DataFrame({"name":[df['name'][ind]],
                                "type":[txt[j]]
                                })
            df_new = df_new.append(df2, ignore_index=True)
    else:
        df2 = pd.DataFrame({"name":[df['name'][ind]],
                            "type":[df['type'][ind]]
                            })
        df_new = df_new.append(df2, ignore_index=True)

0
1
2
3
4

In [4]:
df_new.to_csv('final.csv')
df_new

  name type
0    A    x
1    A    y
2    A    z
3    B    x
4    C    z
5    D    x
6    D    z
7    E    y
8    E    z